* {
  max-width: 800px;
  margin: auto;
}


div {
  border-radius: 5px;
}
div.gallery img{
  width: 20%;
  height:15%;
  float:right top;
}
#header {
  height: 50px;
  width: 100%;
  background-color: #ffcccc;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

#footer {
  height: 50px;
  width: 100%;
  background-color: #ffcccc;
  clear: both;
  position: relative;
}

.left {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: left;
  position: fixed;
}

.right {
  height: 1000px;
  width: 45px;
  background-color: #e0eeee;
  float: right;
  position: inherit;
}

.stuff {
  display: inline-block;
  margin-top: 10px;
  margin-left: 50px;
  width: 75%;
  height: 1000px;
}

p,
li {
  font-family: 'Cormorant Garamond';
}

.head {
  font-size: 20px;
}

#name {
  font-family: Sacramento;
  float: left;
  margin-top: 10px;
  margin-right: 4%;
}
#email{
  float:right;
  margin-right: 20px;
padding-bottom: 10px;
font-size: 16px;
font-family: Verdana, sans-serif;
color: #0f0103;
}

a {
  color: black;
  text-decoration: none;
}


@media only screen and (max-width: 500px) {
  .left,
  .right {
    display: none;
  }
  .stuff {
    width: 100%;
    margin-right: 100px;
  }
}